@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';


:root {
  --category-blue: #4477AA;
  --category-red: #EE6677;
  --category-green: #228833;
  --category-yellow: #CCBB44;
  --category-cyan: #66CCEE;
  --category-purple: #AA3377;
  --category-gray: #BBBBBB;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-50: #f7f7f7;
  --color-gray-100: #efefef;
  --color-gray-200: #dfdfdf;
  --color-gray-300: #cacaca;
  --color-gray-400: #a8a8a8;
  --color-gray-500: #878787;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #4e4e4e;
  --color-gray-800: #373737;
  --color-gray-900: #262626;
  --color-gray-1000: #191919;
  --color-purple: #a239ca;
  --color-blue: #4717f6;
  --color-green: #34a29e;
  --color-red: #ff533d;
  --color-yellow: #e5e338;
  --12px: .75rem;
  --14px: .875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --44px: 2.75rem;
  --48px: 3rem;
  --56px: 3.5rem;
  --64px: 4rem;
  --80px: 5rem;
  --96px: 6rem;
  --112px: 7rem;
  --128px: 8rem
}

:root {
  --sans: "EF_Diary", -apple-system, sans-serif;
  --serif: "Insung_it", serif;
  --mono: Menlo, Consolas, Monaco, monospace;
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;
  --step-background: rgb(255, 255, 255, .95);
  --highlight: #893026;
  --highlight-light: #eacccc;
  --button-outline: var(--color-gray-300);
  --border-radius: 2px;
  --font-body: var(--serif);
  --font-form: var(--sans);
  --color-bg: var(--color-white);
  --color-fg: var(--color-gray-900);
  --color-primary: var(--color-black);
  --color-link: var(--color-black);
  --color-focus: var(--color-gray-300);
  --color-mark: var(--color-yellow);
  --color-selection: var(--color-gray-300);
  --color-border: var(--color-gray-300);
  --color-button-bg: var(--color-gray-300);
  --color-button-fg: var(--color-gray-900);
  --color-button-hover: var(--color-gray-400);
  --color-input-bg: var(--color-gray-50);
  --color-input-fg: var(--color-gray-900);
  --color-placeholder: var(--color-gray-500);
  --1s: 1ms
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg, black);
  line-height: 1.4;
  font-family: var(--font-body, serif);
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 p {
  margin: 16px 0;
}

h1 { font-size: var(--48px, 48px); }

h2 { font-size: var(--36px, 36px); }

h3 { font-size: var(--28px, 28px); }

h4 { font-size: var(--24px, 24px); }

h5 { font-size: var(--22px, 22px); }

h6 { font-size: var(--20px, 20px); }

a:hover { color: var(--color-gray-500); }

a {
  color: var(--color-link, blue);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}

mark {
  background-color: var(--color-mark, yellow);
  padding: 0 4px;
}

button {
  background: white;
  border: 1px solid var(--button-outline);
  border-radius: 4px;
  color: var(--highlight)
}

button:hover {
  background: var(--color-gray-100)
}

button, a[role=button], input[type=submit], input[type=button] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-button-bg, lightgray);
  color: var(--color-button-fg, black);
  border-radius: var(--border-radius, 0);
  font-family: var(--font-form, sans-serif);
  font-size: inherit;
  outline: none;
  padding: 8px;
  cursor: pointer;
}

button:disabled, a[role=button]:disabled, input[type=submit]:disabled, input[type=button]:disabled {
  opacity: .5;
  cursor: not-allowed;
}

button:focus, a[role=button]:focus, input[type=submit]:focus, input[type=button]:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

@media (hover: hover) and (pointer: fine) {
  button:hover, a[role=button]:hover, input[type=submit]:hover, input[type=button]:hover {
    background:var(--color-button-hover, lightgray);
  }

  button:disabled:hover, a[role=button]:disabled:hover, input[type=submit]:disabled:hover, input[type=button]:disabled:hover {
    opacity: .5;
    cursor: not-allowed;
    background: var(--color-button-bg, lightgray);
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.text-outline {
  --stroke-width: 1px;
  --stroke-width-n: calc(var(--stroke-width) * -1);
  text-shadow: var(--stroke-width-n) var(--stroke-width-n) 0 var(--color-text-outline, #fff),0 var(--stroke-width-n) 0 var(--color-text-outline, #fff),var(--stroke-width) var(--stroke-width-n) 0 var(--color-text-outline, #fff),var(--stroke-width) 0 0 var(--color-text-outline, #fff),var(--stroke-width) var(--stroke-width) 0 var(--color-text-outline, #fff),0 var(--stroke-width) 0 var(--color-text-outline, #fff),var(--stroke-width-n) var(--stroke-width) 0 var(--color-text-outline, #fff),var(--stroke-width-n) 0 0 var(--color-text-outline, #fff)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}